@charset "utf-8";
/* font */
@font-face{
    font-family: 'Shinhan-Card';
    src: local();
    src: url('https://www.shinhancard.com/pconts/fonts/ShinhanCardL.eot') format('embeded-opentype');
    src: url('https://www.shinhancard.com/pconts/fonts/ShinhanCardL.woff') format('woff');
    src: url('https://www.shinhancard.com/pconts/fonts/ShinhanCardL.woff') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* base */
*, *::before, *::after {box-sizing: border-box; word-break: keep-all; word-wrap: break-word;}
/* word-break: 비아시아+아시아언어 줄바꿈, word-wrap:비아시아언어 줄바꿈 */
html {height: 100%; font-size: 10px}
body {min-width: 320px; height:100%; font: normal 16px/1.53 'Shinhan-Card'; color:#111;}
body, h1, h2, h3, h4, h5, h6, p, ul, li, ol, dt, dd {margin: 0; padding: 0;}
a {text-decoration:none;}
img {max-width:100%;}
button {border: 0; background: transparent; cursor: pointer;}

/* 접근성 */
.skip a {position:absolute; top:-100px; left:0; padding:0 4rem; color:#Fff; background:#111;}
.skip a:focus {top:0;}
.a11y-b {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
}
.a11y-i {
    overflow:hidden;
    display:inline-block;
    width:1px;
    height:1px;
    border:0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path:inset(50%);
}

#wrap{display: flex; flex-direction: column; min-height:100vh;}
#main{flex-grow: 1;}
/* header */
.header {position: fixed; left:0; right:0; background: #6e5ad4; z-index:100;}
.header ul {list-style: none;}
.inner {width :1080px; margin:0 auto;}
    
/* header-util */
.header-util {width: 100%; background: rgba(1,1,1,.5);}
.header-util .inner {display: flex; align-items: center;}
.header-util .util {}
.header-util .util-wrap {display: flex; justify-content: space-between; align-items: center;}
.header-util .util-wrap li .util__item {display: block; padding: 9px 11px; font-size: 1.5rem; color:#fff;}
.header-util .util-wrap li:first-child a {padding-left:0;}
.header-util .dropdown-wrap {height: 100%;}
.header-util .dropdown-wrap .drop-btn {position:relative; height: 100%; padding: 1rem 1.1rem .9rem; border: none; background: transparent; font-size: 1.5rem; color:#fff;}
.header-util .dropdown-wrap .dropdown-menu {position:absolute; top: 0; display: none; width:187px; padding:10px 30px 10px 10px; background:#fff; color:#111;}
.header-util .dropdown-wrap .drop-btn.open + .dropdown-menu {display: flex}
.header-util .dropdown-wrap .dropdown-menu a {display:inline-block; padding:5px; font-size:1.4rem;}
.header-util .dropdown-wrap .dropdown-menu .btn-close {position:absolute; top:16px; right:14px; width:15px; height:15px;  background: no-repeat center url(../images/top_dropdown_up.png);color:transparent;}
.header-util .state-wrap {margin-left: auto}/* justify-content로 안되는 경우 margin을 활용하자!*/
.header-util .state-wrap .logout-state {display: flex;}
.header-util .state-wrap .logout-state li:last-child a {padding-right:0;}
.header-util .state-wrap .logout-state .state__item {display: block; padding: 9px 11px; font-size: 1.5rem; color:#fff;}

/* header-body */
.header-body {padding-top: 33px;}
.header-body .inner {display: flex; justify-content: space-between; align-items: center; height:88px;}
.header-body .logo {width: 141px;}
.header-body .logo a {display: block;}
.header-body .main-nav {display: flex; align-items: center; height: 40px;}
.header-body .main-nav a {display: block; padding: 0 15px; font-size: 2rem; color:#fff;}

.header-body .menu-btn {position: relative; width: 20px; height: 20px; border: none; background: transparent}
.header-body .menu-btn i {position: absolute;  left: 0; width: 100%; height: 2px; background:#fff;}
.header-body .menu-btn i:nth-of-type(1) {top: 0;}
.header-body .menu-btn i:nth-of-type(2) {top: 50%; transform: translateY(-50%);}
.header-body .menu-btn i:nth-of-type(3) {bottom: 0;} 

/* main */
.main {background: black; padding-top: 162px;}
.header-bg {width:100%; position: relative; background: #6e5ad4; height: 350px; }
.header-bg .search-area {width: 600px; padding-top: 76px; margin: 0 auto; border-bottom: 2px solid #fff;}
.header-bg .search-area input {width: 100%; height: 52px; border: none; background: transparent;}
.header-bg .keyword-area {width: 600px; margin: 0 auto; padding: 12px 0 10px;}
.header-bg .keyword-area .keyword-wrap {display:flex; justify-content: center; list-style: none;}
.header-bg .keyword-area .keyword-wrap li {margin:3px;}
.header-bg .keyword-area .keyword-wrap .keyword__item {display: block; padding: 8px 13px 7px; border:1px solid #fff; border-radius: 34px; font-size:1.5rem; color:#fff;}

.header-bg .banner-area {width: 776px; margin:0 auto;}
.header-bg .banner-wrap {position: relative;}
.header-bg .banner-wrap .btn {display: block; position:absolute; top:50%; width:40px; height:40px; background: rgba(1,1,1,.4); transform: translateY(-50%)}
.header-bg .banner-wrap .btn.prev {left:-54px;}
.header-bg .banner-wrap .btn.next {right:-54px;}
.header-bg .banner-wrap .banner-list {position:relative; display: flex; height: 150px; list-style: none;}
.header-bg .banner-wrap .banner-list li {position:absolute; max-width: 100%; flex: 0 0 100%;}
.header-bg .banner-wrap .control-area {position:absolute; bottom:0;}
.header-bg .banner-wrap .control-area .btn-pause{}

.favorit-area{width:100%; background: #fff; padding: 3rem 0;}
.favorit-area .inner{display: flex; justify-content: center;}
.favorit-menu{display: flex; flex-wrap: wrap; height:6.8rem; list-style: none; }
.favorit-menu li{width:10rem; margin:0 .6rem;}
.favorit-menu li:hover .favorit-item{background-position:50% 100%}
.favorit-menu .favorit-item{display: block; width:100%; height:55px; background: no-repeat center 9px/44px url(../images/ico_benefit02.png); text-align:center;}
.favorit-menu li:nth-child(1) .favorit-item{background-image: url(../images/ico_benefit02.png)}
.favorit-menu li:nth-child(2) .favorit-item{background-image: url(../images/ico_benefit03.png)}
.favorit-menu li:nth-child(3) .favorit-item{background-image: url(../images/ico_benefit04.png)}
.favorit-menu li:nth-child(4) .favorit-item{background-image: url(../images/ico_benefit05.png)}
.favorit-menu li:nth-child(5) .favorit-item{background-image: url(../images/ico_card01.png)}
.favorit-menu li:nth-child(6) .favorit-item{background-image: url(../images/ico_card02.png)}
.favorit-menu li:nth-child(7) .favorit-item{background-image: url(../images/ico_center01.png)}
.favorit-menu li:nth-child(8) .favorit-item{background-image: url(../images/ico_center02.png)}
.favorit-menu .favorit-item span{display:block; padding-top:55px; font-size:1.4rem;}

.card-area{width:100%; padding:3rem 0; background:#f7f7f9}
.card-area .inner {position: relative;}
.card-area ul{list-style: none;}
.card-area .tab-wrap{}
.card-area .tab-wrap .tab{display: flex; margin:0 -1.5rem 4rem;}
.card-area .tab-wrap .tab li{margin:0 1.5rem;}
.card-area .tab-wrap .tab li.on button::after{content:''; position: absolute; bottom:-10px; left:50%;  width:90%; height:2px; background: #111; transform: translateX(-50%)}
.card-area .tab-wrap .tab li button{position:relative; font-size:24px;}

.card-area .tab_cont{}
.card-area .tab_cont .card-list{display: flex; margin:0 -2rem;}
.card-area .tab_cont .card-list .card-item{margin:0 2rem;}
.card-area .tab_cont .card-list .card-item .card-link{display: block; text-align: center;}
.card-area .tab_cont .card-list .card-item .card-link .card-img{position: relative; height:200px;}
.card-area .tab_cont .card-list .card-item .card-link .card-img.portrait img{position: absolute; top:20%; left:0; transform: rotate(90deg);}

.card-area .cardbtn-wrap {position:absolute; top:0; right:0;}
.card-area .cardbtn-wrap .cardbtn-list {display:flex; margin:0 -.5rem;}
.card-area .cardbtn-wrap .cardbtn-list li{margin:.5rem;}
.card-area .cardbtn-wrap .cardbtn-list .card-btn{display: block; padding:1rem 1.6rem; background:#fff; border:1px solid #ccc; font-size:1.4rem;}
.card-area .cardbtn-wrap .cardbtn-list .card-btn span::after{content:'>'; display:inline-block; margin-left:1px;}

.finance{width:100%; padding:3rem 0; background: #f7f7f9;}
.finance .finance-list{display: flex; list-style:none; margin:0 -1rem;}
.finance .finance-list .finance-item{flex:1 auto; padding: 10rem 10rem 1rem 1rem; margin:0 1rem; background:#fff; border-radius:1.4rem; box-shadow:10px 7px 20px 0px #ebebeb;}


.consucenter{width:100%; padding:3rem 0; background:#fff;}
.consucenter .inner{display: flex;}
.news-area,.consumer-area{flex:1 auto;}