/* common */
*{box-sizing:border-box;}
html{width:100%;}
body{width:100%;font-size:1.4rem;}
section{width:100%;}
/* header */
header{position:absolute; top:0; right:0; left:0; padding:7rem 2rem 0; z-index:100;}
.header_top{display:flex; justify-content:space-between;}
.logo a{display:block; width:9.4rem; height:4rem; background:url(../images/tuenitueni-logo.png) no-repeat 0 0 / 100% auto}
.icon_wrap{display:flex;}
.icon_wrap a{display:flex; display:block; width:4rem; height:4rem;}
.icon_map{background:url(../images/icon-map.png) no-repeat center center / 2.3rem auto;}
.icon_bell{background:url(../images/icon-bell.png) no-repeat center center / 2.3rem auto;}
.btn_program_view{position:absolute; top:0; left:50%; width:4.5rem; height:5.5rem; background:#fff url(../images/arrow.png) no-repeat center bottom 1rem / 1.2rem auto; border-radius:0 0 4.5rem 4.5rem; box-shadow: 0px 10px 0px 0px #0000000F; transform:translateX(-50%)}
.gnb{padding-top:2.5rem;}
.gnb ul{display:flex; justify-content:space-between;}
.gnb ul .active a{background:#fff; border-radius:3.5rem; color:#F17785;}
.gnb ul a{display:block; padding:0 1.2rem; font-size:1.8rem; font-weight:500; color:#fff;}

/* visual */
.visual{overflow:hidden; border-bottom-left-radius:9.7rem; font-family:'NanumSquareRound';}
[class*="visual_page"]{display:flex; flex-direction: column; justify-content:flex-end; height:50rem; padding:0 0 11.7rem 4rem;}
[class*="visual_page"] .txt{line-height:2.76rem; letter-spacing:-0.05em;}
[class*="visual_page"] .txt span{font-weight:800; font-size:1.8rem; text-shadow:0 0.15rem rgba(0, 0, 0, 0.15)}
[class*="visual_page"] .txt em{font-weight:800; font-size:1.8rem; color:#FFFFFF}[class*="visual_page"] .img{width:7.5rem; padding:.6rem 0 1.5rem 0;}
.visual_page1{background: #F17785 url(../images/kids-1.png) no-repeat bottom right -1rem/ 23.9rem auto;}
.visual_page2{background: #ABCD05 url(../images/kids-2.png) no-repeat bottom right -1rem/ 22.6rem auto;}
.visual_page1 .txt span{color:#FFD8BC;}
.visual_page2 .txt span{color:#FFF8BC;}
.btn_go{display:block;width:5.25rem; height:3rem; padding:0 1rem; background:#FFFFFF url(../images/arrow-right.png) no-repeat center right 1rem / auto .8rem; box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1); border-radius: 5rem; font-weight:700; font-size:1.4rem; line-height:3rem; color:#999999;}

.user{position:relative; top:-9.705rem; padding:0 2rem; z-index:1}
.user_info{min-width:32rem; width:100%; padding:2rem 2rem 0; background:#fff; box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.08); border-radius: 30px; z-index:3; box-sizing:border-box}
.user_info .name{color:#ABCD05;}
.status > ul{display:flex;}
.status > ul li span{display:block;}