/* 2x */
body{background:lightgray}
/* header */
header{padding:7rem 2rem 0;}
.header_top{display:flex; justify-content:space-between;}
.logo a{display:block; width:9.4rem; height:4rem; background:url(../images/tuenitueni-logo.png) no-repeat 0 0 / 100% auto}
.icon_wrap{display:flex;}
.icon_wrap a{display:flex; display:block; width:4rem; height:4rem;}
.icon_map{background:url(../images/icon-map.png) no-repeat center center / 2.3rem auto;}
.icon_bell{background:url(../images/icon-bell.png) no-repeat center center / 2.3rem auto;}
.btn_program_view{position:absolute; top:0; left:50%; width:4.5rem; height:5.5rem; background:#fff url(../images/arrow.png) no-repeat center bottom 1rem / 1.2rem auto; border-radius:0 0 4.5rem 4.5rem; box-shadow: 0px 10px 0px 0px #0000000F; transform:translateX(-50%)}

.gnb{padding-top:2.5rem;}
.gnb ul{display:flex; justify-content:space-between;}
.gnb ul .active a{background:#fff; border-radius:3.5rem; color:#F17785;}
.gnb ul a{display:block; padding:0 1.2rem; font-size:1.8rem; font-weight:500; color:#fff;}

/* visual */
.visual{font-family: 'NanumSquareRound';}
.visual [class*="visual_page"]{display:flex; flex-direction: column; justify-content:flex-end; height:50rem;}
[class*="visual_page"]{padding:0 0 0 4rem}
[class*="visual_page"] .txt span{font-weight:800; font-size:1.8rem; text-shadow:0 0.15rem rgba(0, 0, 0, 0.15)}
[class*="visual_page"] .txt em{font-weight:800; font-size:1.8rem; color:#FFFFFF}
.visual_page1 .txt span{ color:#FFD8BC;}
.visual_page2 .txt span{color:#FFF8BC;}

.btn_go{display:block;width:5.25rem; height:3rem; padding:.3rem 1rem;background:#FFFFFF; box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1); border-radius: 5rem; font-weight:700; font-size:1.4rem;  line-height:3rem;}
.arr_go{display:inline-block; width:0.85rem; height:0.8rem; background:url(../images/arrow-right.png) no-repeat 0 0;}